<!DOCTYPE html>
<html ng-app="mypollApp" ng-controller="eachpoll">
<head>
	<title>Voting APP</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<!--JQuery CDN-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	

	
	<!--Nav Bar-->
	<script type="text/javascript">
    	$(document).ready(function(){     		
    		$('#pollid').hide();
    		$('#tweet-quote').on('click', function() {
      			alert("You need to login to share a poll!");
  			});
  			$('#addOption').on('click', function() {
      			alert("You need to login to add an option!");
  			});
    	});
	</script>
</head>

<header>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">VOTING APP</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li id="home" class="active"><a href="/">HOME <span class="sr-only">(current)</span></a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
		  <a id="logout" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="/auth/github"><img class="logo" src="/public/img/git-32px.png"></img>Login With Github</a></li>
            <li><a href="/auth/facebook"><img class="logo" src="/public/img/fb-32px-2.png"></img>Login With FaceBook</a></li>
		  </ul>
		</li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>

<body>
	<div class="container">

		<div class = "head">
			<h2 class="text-center" id="title">Title: {{title}}</h2>
			<button style="float:right; clear: both; margin-left: 2%;" class="btn btn-info">
			<a class = "button" id = "tweet-quote" title = "Tweet this quote!" target = "_blank">
				<i class = "fa fa-twitter"><span> sweet</span></i>
			</a>
			</button>
		<br/>
		</div>
		<br/>
		<br/>

		<div>
		<div style="margin: 0 auto; width: 50%; height: auto; display: inline-block; float:left;" class="container text-center">
		<table class="table table-bordered table-hover table-responsive">
            <thead class="thead-inverse">
            	<tr>
                	<th>Options</th>
                	<th>Votes</th>
            	</tr>
            </thead>
			<tbody>
            	<tr ng-repeat="option in options">             
                	<td>{{option.op}}</td>
                	<td>{{option.num}}</td>   
            	</tr>
        	</tbody>
        </table>
        </div>

        <div style="margin: 0 auto; width: 50%; height: auto; display: inline-block; " class="container text-center">
        	<canvas id="pie" class="chart chart-pie"
  				chart-data="data" chart-labels="labels" chart-options="options" chart-legend="true">
			</canvas> 
        </div>

        </div>
		<div style="clear: both; margin-left: 3%;">
			<form action="" method="post">
				<div id="pollid">
					<input type="text" name="id" value="{{id}}">
				</div>

  				<div class="form-group">
    				<label for="voteOptions">I'd like to vote for:</label>

						<div class="radio" ng-repeat="option in options">
  							<label><input type="radio" name="vote" value="{{option.op}}">{{option.op}}</label>
						</div>

  				</div>

  				<button type="button" class="btn btn-info" id="addOption">Add an option</button>

  				<h3></h3>

  				<div>
  					<button type="submit" formmethod="post"  formaction="" formenctype="application/x-www-form-urlencoded" class="btn btn-primary">Submit</button>
  				</div>
			</form>
		</div><!-- /.form -->
	</div><!-- /.container -->

<footer>
  <div class="text-center">
    Developed By <a href="https://github.com/mengzhen94/voting-app" target="_blank">Mengzhen Gao</a>
  </div>
</footer>

<script src="https://platform.twitter.com/widgets.js" async></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/chart.js/2.2.1/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/1.0.2/angular-chart.min.js"></script>
<script type="text/javascript" src="/controllers/eachpoll.client.js"></script>

</body>
</html>